#tasks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task {
    height: 9.5em;
    line-height: 2em;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: left;
}

.task .cell {
    float: left;
    height: 100%;
    text-align: center;
}

.task .key {
    display: none;
}

.task .type {
    display: none;
}

.task .meta {
    width: 75%;
}

.task .meta div,
.task .meta input,
.task .meta select {
    float: left;
}

.task.active {
    background: #66ff66;
}

.task .progress_container {
    margin-top: 3.25em;
    height: 2em;
    position: relative;
    width: 20%;
}

.task .message {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
}

.task .progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: 1em !important;
}

.trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 0.25em;
}

.trigger.accept {
    background-image: url('images/dialog-accept.png');
    background-size: 24px 24px;
}

.trigger.edit {
    background-image: url('images/document-edit.png');
    background-size: 24px 24px;
}

.trigger.delete {
    background-image: url('images/dialog-cancel-3.png');
    background-size: 24px 24px;
}

.trigger.wait {
    background-image: url('images/ajax-loader.gif');
    background-size: 24px 24px;   
}

.trigger.stop {
    background-image: url('images/process-stop.png');
    background-size: 24px 24px;   
}

.cddb {
    clear: left;
    margin-top: 0.5em;
}

.musicbrainz {
    clear: left;
    margin-top: 0.5em;
}

.slot {

}

.dev {
    margin-left: 3em;
}

.barcode {
    margin-left: 3em;

}

.message {
    height: 2em;
}

.note {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    clear: left;
    width: 100%;
}

.note input {
    width: 90%;
}

.task > .trigger_container {
    margin-top: 3.25em;
    height: 2em;
    float: right;
}

